@import "tailwindcss";

nav {
  --sb-track-color: #d2d2d2;
  --sb-thumb-color: #484848;
  --sb-size: 6px;
}

nav::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

nav::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

nav::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

@supports not selector(::-webkit-scrollbar) {
  nav {
    scrollbar-width: thin;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
