@import "tailwindcss";

nav {
  --sb-track-color: #232e33;
  --sb-thumb-color: #484848;
  --sb-size: 4px;
}

nav::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

nav::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

nav::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  nav {
    scrollbar-width: thin;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
